.home{
    margin: 10px;
}
.home h4{
    color: rgb(36, 56, 39)
}
.title{
    margin-top: 10px;
    text-shadow: 3px 3px 3px rgb(4, 142, 25);
}
.loading1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{
    height: 100px;
    width: 100px;
    border: solid rgb(38, 153, 93) 5px;
    border-bottom: solid transparent 5px;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}
.btnH{
    background-color: rgb(27, 157, 24);
    border: none;
    margin: 10px;
    padding: 10px 15px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;       
    box-shadow: 0 0 12px #eee;
    border-radius: 10px;
    cursor: pointer;
}
.btnH:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
.selH{
    background-color: rgba(22, 181, 130, 0.508);
    border-radius: 5px;
    margin: 3px;
    padding: 4px;
    cursor: pointer;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}