.containerSB{
    padding: 5px;
    margin: 5px;
}
.in{
    margin: 5px;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 5px 0px 5px 5px;
}
.but{
    background-color: rgb(27, 157, 24);
    border: none;
    margin: 2px;
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);            
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
    cursor: pointer;
}
.but:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}