.container{
    margin: 5px;
}
.btnPg{
    border-radius: 4px;
    border: none;
    background-color: rgb(27, 157, 24);
    cursor: pointer;
    margin: 2px;
    box-shadow: 0 0 8px rgb(51, 43, 43);
}
.btnPg:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    transform: scale(1.2);
}